---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>

  <p>
    I am Dr. Mrunal Reddy Ragi who is a highly skilled Health Data Scientist with a strong background in dentistry,
    blending clinical expertise with advanced data analytics to drive insights in healthcare. Holding a Master’s degree
    in Health Data Science from Saint Louis University (GPA: 3.55/4.00) and a Bachelor’s degree in Dental Science from
    Sri Sai College of Dental Surgery (GPA: 3.00/4.00), I posses a unique ability to bridge the gap between healthcare
    and data-driven decision-making. Proficient in Python, R, SQL, and SAS, specializes in statistical modeling, machine
    learning, and healthcare analytics. With hands-on experience in tools like Tableau, Power BI, Azure Data Factory,
    and TensorFlow. My technical expertise extends to cloud platforms like AWS, Google Cloud, and Azure, as well as
    database management systems such as Snowflake, PostgreSQL, and Amazon Redshift.
  </p>

  <p>
    In my professional journey, I have served as a Dentist at Facial Aesthetic Studio, assessed over 350 patients,
    performed cosmetic treatments, and maintained a 96.6% patient satisfaction rate. my experience also includes a
    dental internship at Sri Sai College of Dental Surgery, where I honed my skills in patient care, clinical
    documentation, and adherence to infection control protocols. I am passionate about leveraging data to improve
    healthcare outcomes and has participated in various symposiums and competitions, including the 5th Telangana State
    Dental Conference and a national-level e-Poster competition. My work is driven by a commitment to compassionate
    care, strategic problem-solving, and continuous learning.
  </p>

</div>


<!-- ========== Education ========== -->
<div class="docs-section" id="education">
  <h4>Education</h4>
  <div class="paper">
    <p class="title"><b>Saint Louis University<b style="float:right;">Aug. 2023 - May 2025</b></b></p>

    <p>M.Sc. in Computer Science</p>
    <p></p>
  </div>

  <div class="paper">
    <p class="title"><b>Sri Sai College of Dental Surgery<b style="float:right;">June 2015 - May 2021</b></b></p>

    <p>Bachelors in Dental Science (BDS)</p>
    <p></p>
  </div>

</div>

<!-- ========== Projects ========== -->
<div class="docs-section" id="projects">
  <h4>Projects</h4>
  <!-- <p>Most of the projects are having GitHub link and proper documentation</a>.<br />
  </p> -->
  <ul class="tab-nav">
    <li>
      <div class="button" data-ref="#sade-be-fe">SADE GUI & Backend</div>
    </li>
    <li>
      <div class="button active" data-ref="#sade-simulation-plugins">SADE Sim-Plugins</div>
    </li>
  </ul>

  <!-- Tab: sade backend frontend -->
  <div class="tab-content">

    <div class="tab-pane" id="sade-be-fe">
      {% assign projects = site.data.projects.projects | where: "identifier", "sade-be-fe" %}
      {% for project in projects %}
      <div class="paper">
        <h5>{{ project.title }}</h5>
        <p>{{ project.subtitle }} <b>({{ project.timeline }})</b></p>
        <div>
          <p>{{ project.description }} </p>
        </div>
        <div>
          {{ project.workContribution }}
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- Tab: sade plugins -->

    <div class="tab-pane active" id="sade-simulation-plugins">
      {% assign projects = site.data.projects.projects | where: "identifier", "sade-simulation-plugins" %}
      {% for project in projects %}
      <div class="paper">
        <h5>{{ project.title }}</h5>
        <p>{{ project.subtitle }} <b>({{ project.timeline }})</b></p>
        <div>
          <p>{{ project.description }} </p>
        </div>
        <div>
          {{ project.workContribution }}
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</div>


<!-- ========== RESUME ========== -->
<div class="docs-section" id="resume">
  <h4>Vitæ</h4>

  <p>Full CV in <a href="{{ site.data.main_info.cv }}" target="_blank">PDF</a>.</p>

  <!-- The Timeline -->
  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
        {% else %}
        <div class="direction-r">
          {% endif %}
          <div class="flag-wrapper">
            <span class="flag">{{ exp.place }}</span>
            <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
          </div>
          <div class="desc"><b>{{ exp.title }}</b> <br /> {{ exp.subtitle }}</div>
        </div>
    </li>
    {% endfor %}
  </ul>
</div>